{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>The Good Place FroYo Shop</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>
    <div class="col-lg-10 col-lg-10 mx-auto container">
      <h1 id="page_header" class="col-lg-8">The Good Place FroYo Shop</h1>
    </div>

    <div class="col-lg-10 mx-auto container">
      <h2 id="home_page_ingredients" class="col-lg-8 mx-auto">Ingredients</h2>
      <form method="get" action="http://localhost:8000/ingredients-list">
        <button type="submit" id="button_to_ingredients" class="btn-block btn-outline-info">View available ingredients</button>
      </form>
    </div>

    <div class="col-lg-10 mx-auto container">
      <h2 id="home_page_recipes" class="col-lg-8 mx-auto">Recipes</h2>
      <form method="get" action="http://localhost:8000/recipes-list">
        <button type="submit" id="button_to_recipes" class="btn-block btn-outline-info">Go to recipes</button>
      </form>
    </div>

    <div class="col-lg-10 mx-auto container">
      <h2 id="home_page_orders" class="col-lg-8 mx-auto">Orders</h2>
      <form method="get" action="http://localhost:8000/orders-list">
        <button type="submit" id="button_to_orders" class="btn-block btn-outline-info">Check current orders</button>
      </form>
    </div>
  </body>
</html>
