<!DOCTYPE html>
<html>
  <head>
    <title>The Good Place FroYo Shop</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">The Good Place FroYo Shop</h1>
    </div>

    <div>
      <h2 id="home_page_ingredients">Ingredients</h2>
      <form method="get" action="http://localhost:8000/ingredients-list">
        <button type="submit" id="button_to_ingredients">View available ingredients</button>
      </form>
    </div>

    <div>
      <h2 id="home_page_recipes">Recipes</h2>
      <form method="get" action="http://localhost:8000/recipes-list">
        <button type="submit" id="button_to_recipes">Go to recipes</button>
      </form>
    </div>

    <div>
      <h2 id="home_page_orders">Orders</h2>
      <form>
        <button type="submit" id="button_to_orders">Check current orders</button>
      </form>
    </div>
  </body>
</html>
