<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients - List</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">Ingredients - List</h1>
    </div>

    <div>
        <table class="table">
          <thead>
            <tr>
              <th>Inventory</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td>{{object.name}}</td>
                <td>
                  <form method="get" action="http://localhost:8000/ingredients-detail">
                    <button type="submit" id="button_to_ingredients_detail">Go to detail</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </body>
</html>
