<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients - Create</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">Ingredients - Create</h1>
    </div>

    <div>
      <form>
        <div>
          <label>New ingredient</label>
          <input type="text" placeholder="Insert name of the ingredient">
        </div>
        <div>
          <label>New ingredient quantity</label>
          <input type="text" placeholder="Kindly insert an integer">
        </div>
        <div>
          <button type="submit">Finish Creating Ingredient</button>
        </div>
      </form>
    </div>

    <div>
      <form method="get" action="http://localhost:8000/ingredients-list">
        <button type="submit" id="back_button">Back to List</button>
      </form>
    </div>
  </body>
</html>
