<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients - Update</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">Ingredients - Update</h1>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Current Value</th>
            <th>New Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <form>
              <td>
                <input type="text">
              </td>
              <td>
                <button type="submit">Save Changes</button>
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <form method="get" action="http://localhost:8000/ingredients-detail">
        <button type="submit" id="back_button">Back to Detail</button>
      </form>
    </div>
  </body>
</html>
