<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients - Update</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>
    <div class="col-lg-10 col-lg-10 mx-auto container">
      <h1 id="page_header">Ingredients - Update</h1>
    </div>

    <div class="col-lg-10 col-lg-10 mx-auto container">
      <table class="table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Current Value</th>
            <th>New Value</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <form>
              <td>
                <input type="text" class="form-control">
              </td>
              <td>
                <button type="submit" class="btn-sm btn-outline-success">Save Changes</button>
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-10 col-lg-10 mx-auto container button_container">
      <form method="get" action="http://localhost:8000/ingredients-detail">
        <button type="submit" class="btn-block btn-outline-danger" id="back_button">Back to Detail</button>
      </form>
    </div>
  </body>
</html>
