<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients - Detail</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">Ingredients - Detail</h1>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Ingredient</th>
            <th>Qty On Hand</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <form method="get" action="http://localhost:8000/ingredients-update">
        <button type="submit" id="button_to_ingredients_update">Update Fields</button>
      </form>
    </div>

    <div>
      <form method="get" action="http://localhost:8000/ingredients-list">
        <button type="submit" id="back_button">Back to List</button>
      </form>
    </div>
  </body>
</html>
