<!DOCTYPE html>
<html>
  <head>
    <title>Orders - List</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">Orders - List</h1>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Order Slips</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td></td>
              <td>
                <form>
                  <button type="submit" id="button_to_orders_detail">Go to detail</button>
                </form>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

    <div>
      <form>
        <button type="submit" id="button_to_orders_create">Create New Order</button>
      </form>
    </div>
    <div>
      <form method="get" action="http://localhost:8000">
        <button type="submit" id="back_button">Back to Home</button>
      </form>
    </div>
  </body>
</html>
