<!DOCTYPE html>
<html>
  <head>
    <title>Orders - Detail</title>
  </head>

  <body>
    <div>
      <h1 id="page_header">Orders - Detail</h1>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Size</th>
            <th>Base Recipe</th>
            <th>Customization</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <form method="get" action="http://localhost:8000/orders-update">
        <button type="submit" id="button_to_orders_update">Update Fields</button>
      </form>
    </div>

    <div>
      <form method="get" action="http://localhost:8000/orders-list">
        <button type="submit" id="back_button">Back to List</button>
      </form>
    </div>
  </body>
</html>
